<div class="container">
  <h1 class="title"> Welcome to ICE MASTER Universe 🎮</h1>
  
  <!-- Cadre ajouté autour de la description et des images -->
  <div class="content-box">
    <p class="description">
      Bienvenue sur ICE MASTER Universe ! Ce site interactif vous propose une expérience unique où vous pourrez explorer trois personnages fascinants. 
      En cliquant sur une image, vous serez transporté dans un puzzle amusant. Une fois le puzzle complété, la photo complète du CV du personnage apparaîtra. 
      Vous pourrez ainsi découvrir les parcours personnels et professionnels de chacun. Enfin, une page spéciale mettra en lumière les points communs entre leurs projets personnels et professionnels.
    </p>
  
    <div class="image-container">
      <a routerLink="/cv/3" class="image-box">
        <img src="image/koffi.jpg" alt="Page 1" class="animated-image">
      </a>
      <a routerLink="/cv/1" class="image-box">
        <img src="image/kawtar.jpg" alt="Page 2" class="animated-image">
      </a>
      <a routerLink="/cv/2" class="image-box">
        <img src="image/colin.jpg" alt="Page 3" class="animated-image">
      </a>
    </div>
  </div>
</div>